<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /h5
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /h5/index.html [L]
</IfModule>